.main-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2rem 0 1.5rem 0;
  color:  #020617;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.main-title span {
  color: #38bdf8;
}

.main-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  margin: 0.6rem auto 0;
  background: #38bdf8;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(56, 189, 248, 0.6);
}